<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @document.name %>
</p>

<p>
  <strong>Color:</strong>
  <%= @document.color %>
</p>

<p>
  <strong>Wish:</strong>
  <%= @document.wish %>
</p>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %> |
<%= link_to 'PDF', document_path(format: 'pdf') %>
